.message {

  &__author{
   color: darkorange;
   font-size: 2rem;
   margin-top: 5%;
   margin-left: 5%;

  }
  &__content{
    border: 1px solid black;
    padding: 1rem;
    background-color: darkorange;
    width: 40%;
    margin-left: 5%;
  }
}
