.add {
  &_submit {
  font-size: 2rem;
  margin-top: 20%;
  padding: 1rem;
  border-radius: 40px;
 }
 &_submit:hover {
  background-color:#dcf8c6 ;
 }
 &_input {
  font-size: 2rem;
  background-color:white;
  border-radius: 100px;
  padding: 1.5rem;
 }
 &_input:hover {
  background-color:#dcf8c6 ;
 }

}
