.settings {
  background-color:#dcf8c6 ;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  display: block;

  &__input {
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
    border: white;
    border-radius: 20px;
    font-size: 2rem;
    width: 80%;
  }

  &__toggle {
    background-color:#25d366 ;
    color: white;
    border: white;
    border-radius: 100%;
  }

  &__submit {
    background-color: #25d366;
    margin-top: 2rem;
    color: white;
    border: white;
    padding: 0.5rem;
    border-radius: 20px;
  }
} 
